{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Universal Library</title>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{% static 'library/favicon.ico' %}" type="image/x-icon">
</head>

<body>
    <header>
        <img src="{% static 'library/favicon.ico' %}" alt="Logo">
        <h1>Universal Library</h1>
        <button>Login</button>
    </header>

    <div class="category">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'catalog' %}">Catalog</a>
        <a href="{% url 'roomnseat' %}">Room&Seat</a>
        <a href="{% url 'event' %}">Event&Programs</a>
    </div>

    <main>
        <div>
            <button onclick="loadSeats('')">All Floors</button>
            <button onclick="loadSeats('1층')">1층</button>
            <button onclick="loadSeats('2층')">2층</button>
            <button onclick="loadSeats('3층')">3층</button>
            <button onclick="loadSeats('4층')">4층</button>
        </div>
        <ul id="seatList"></ul>

        <script>
            function loadSeats(floor) {
                fetch(`/seats/?floor=${floor}`)
                    .then(response => response.json())
                    .then(data => {
                        const seatList = document.getElementById('seatList');
                        seatList.innerHTML = '';
                        data.seats.forEach(seat => {
                            const li = document.createElement('li');
                            li.textContent = `${seat.position} - Available`;
                            seatList.appendChild(li);
                        });
                    })
                    .catch(error => console.error('Error:', error));
            }
        </script>
    </main>
</body>

</html>